#home {
  padding:20px;
  text-align:center;
}

.nav-link {
}

.jumbotron {
  background-size:cover;
  background-repeat:no-repeat;
  height:700px;
}

#Logo {
  font-size:48px;
}

#button {
  margin:20px;
}

